<!-- wp:template-part {"slug":"header","theme":"ovation-bookstore","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"0px","bottom":"0px"}}},"layout":{"type":"default"}} -->
<main class="wp-block-group" style="margin-top:0px;margin-bottom:0px">

    <!-- wp:pattern {"slug":"ovation-bookstore/page-title"} /-->

    <!-- wp:pattern {"slug":"ovation-bookstore/blog-right-sidebar"} /-->
    
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"ovation-bookstore","tagName":"footer","className":"custom-footer-class"} /-->